/* Aplicación general */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Encabezado */
header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header img {
    height: 100px;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-menu ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 200px;
    right: 0;
}

.user-menu ul li {
    padding: 10px;
    white-space: nowrap;
}

.user-menu ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.user-menu ul li a:hover {
    background-color: #eee;
}

/* Navegación */
nav {
    height: 50px;
    color: #818181;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-top: 2px solid #818181; /* Borde superior */
    border-bottom: 2px solid #818181; /* Borde inferior */
    background: none; /* Eliminar el color de fondo */
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #818181; /* Color del texto */
}

/* Contenido principal */
main {
    flex: 1;
    display: flex;
    height: auto;
    margin-bottom: 20px; /* Añade un margen inferior */
}

aside {
    background-color: #f9f9f9;
    padding: 5px;
    width: 30%;
}


aside li {
    font-size: 20px;
    margin-top: 15px;
}

aside i {
    margin-right: 20px;
    width: 30px;
}

.contenedorPrincipal {
    width: 70%;
    overflow: auto;
}

.entradas{
    margin-right: 10px;
    background-color: grey;
    padding-top: 10px; /* Añadir espacio arriba */
    padding-bottom: 20px; /* Añadir espacio abajo */
    margin-top: 20px; /* Añadir margen arriba */
    margin-bottom: 10px; /* Añadir margen abajo */
}
.categorias {
    margin-right: 10px;
    background-color: grey;
    padding-top: 10px; /* Añadir espacio arriba */
    padding-bottom: 20px; /* Añadir espacio abajo */
    margin-top: 10px; /* Añadir margen arriba */
    margin-bottom: 10px; /* Añadir margen abajo */
}
.cursos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 25px; /* Esta línea añade el margen superior del 20% */
}

.cursos-grid div {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.cursos-grid img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.cursos-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.cursos-grid img {
    width: 200px; /* Ajusta el tamaño deseado */
    height: 200px; /* Ajusta el tamaño deseado */
    object-fit: contain;
    margin: 10px 0; /* Opcional: para agregar un poco de espacio alrededor de las imágenes */
}

/* Pie de página */
.footer { 
    width: 95%; 
    background: transparent; 
    border-top: 1px solid #000; 
    display: flex; 
    justify-content: space-between; 
    padding: 10px 20px;
}

.left { float: left; } .right { float: right; }
